<h1>Recent purchases</h1>

<table class="purchases main">
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <%= render @purchases %>
</table>

<br />

<%= link_to 'New Purchase', new_purchase_path, id: "new-purchase-link" %>

<br />

