<h1>Recent purchases</h1>

<table class="purchases main">
  <thead>
    <tr>
      <th>Description</th>
      <th>Amount</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <%= render @purchases %>
</table>

<br />

<%= mail_to "c3f5214a7c14256c099c@cloudmailin.net", "New Purchase via email", subject: "price", body: "tag, list\ndescription", class: std_button %>
<%= link_to 'New Purchase', new_purchase_path, id: "new-purchase-link", class: std_button %>


<br />

