<h2>Your household</h2>
<% if current_user.household %>
  <h3>Recent purchases</h3>
  <ul>
    <%= render current_user.household.recent_purchases %>
  </ul>
<% else %>
  <%= link_to "Make a Household", new_household_path(current_user) %>
<% end %>
